body{
    background:Linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),

    Linear-gradient(127deg, black, black 70.71%),
    
    Linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
}
ul li{
    margin-left: 50px;
    font-size: 38px;
    inline-size: 30px;
    display: inline;
}
h2{
    color:white;
    font-family: Arial, Helvetica, sans-serif
     }